@tailwind base;
@tailwind components;
@tailwind utilities;

span.ripple {
  transform: scale(0);
  animation-name: ripple;
  animation-fill-mode: forwards;
  animation-duration: calc(theme(transitionDuration.DEFAULT) * 2);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
